@import url('../variables.css');

.admin-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}

.filter-and-sortby-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 1;
  overflow: hidden;
  height: 30px;
}

.filter-and-sortby-container button {
  border-bottom: transparent;
  border-radius: 5px;
  border: 1px solid silver;
  margin-left: 3px;
}

.filter-and-sortby-container button:hover {
  background-color: #c0d2db;
}

.filter-and-sortby-container button:active {
  background-color: #91b0bf;
}

.next-and-previous-buttons {
  margin: 40px 0px 20px 0px;
  display: flex;
  justify-content: center;
}

.next-and-previous-buttons button {
  border: 1px solid silver;
}

.active-move-button:hover {
  background-color: rgba(0, 88, 134, 0.2);
}

.active-move-button:active {
  background-color: rgba(0, 88, 134, 0.4);
}

.services-table {
  border-collapse: collapse;
  z-index: 2;
}

.table-container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;
  overflow-x: scroll;
}

.services-table td,
.services-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.services-table td:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.services-table tr:nth-child(even) {
  background-color: #dbdbdb;
}

.services-table tr:hover {
  background-color: rgba(0, 88, 134, 0.2);
}

.services-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--main-color);
  color: white;
}

.table-head-content {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

.sort-arrow-container {
  display: flex;
  flex-direction: column;
}

.save-reminder-container {
  height: 30px;
}

.save-reminder {
  font-size: larger;
  color: red;
  text-align: center;
  margin: 0;
}

.admin-page-container .confirm-button {
  font-size: smaller;
  margin-left: 5px;
  border: 1px solid silver;
}

.admin-page-container .confirm-button:hover {
  background-color: var(--main-color);
  color: white;
}

.admin-page-container .confirm-button:active {
  background-color: var(--secondary-color);
  color: white;
}

.searchbar {
  display: flex;
  background-color: white;
  border: 1px solid grey;
  scale: 1.3;
  border-radius: 5px;
  padding: 2px;
  margin: 50px 0px;
}

.searchbar input {
  border: none;
  outline: 0;
  width: 300px;
}

/* Background colors of the select options */

.admin-page-container .active {
  background-color: lightgreen;
}

.admin-page-container .returned {
  background-color: orange;
}

.admin-page-container .canceled {
  background-color: red;
}

/* Color Change effect */

@-webkit-keyframes colorChange {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: red;
  }
}

@-moz-keyframes colorChange {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: red;
  }
}

@-ms-keyframes colorChange {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: red;
  }
}

@-o-keyframes colorChange {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: red;
  }
}

@keyframes colorChange {
  0% {
    color: white;
    background-color: var(--main-color);
  }
  50% {
    color: black;
    background-color: lightblue;
  }
  75% {
    color: black;
    background-color: lightblue;
  }
  100% {
    color: white;
    background-color: var(--main-color);
  }
}

.color-change {
  background-color: var(--main-color);
  -webkit-animation-name: colorChange;
  -moz-animation-name: colorChange;
  -ms-animation-name: colorChange;
  -o-animation-name: colorChange;
  animation-name: colorChange;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Active filter button */

.active-filter {
  background-color: var(--main-color);
  color: white;
  scale: 1.2;
  border-color: var(--main-color);
}

/* Changing the background color after confirmation */

#returned {
  background-color: orange;
}

#canceled {
  background-color: red;
}

@media screen and (max-width: 800px) {
  .services-table th:first-child {
    display: none;
  }
  .services-table td:first-child {
    display: none;
  }

  .searchbar {
    width: 200px;
  }
}
