.profile-page-container {
  display: flex;
  flex-direction: column;
}
.profile-menubar {
  width: 100%;
  height: 70px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-evenly;
}
.profile-data-container {
  display: flex;
  flex-direction: column;
  margin: 70px;
}
.profile-data-container h3 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.profile-header {
  display: flex;
  justify-content: center;
}
.profile-btn {
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
  border: white 1px solid;
  border-radius: 10px;
  padding: 10px;
  margin: 4px;
}
.profile-btn:hover,
.profile-btn:active {
  background-color: var(--secondary-color);
  color: black;
  border: black 1px solid;
}
