.profile-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.profile-menubar {
  padding: 10px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}
.profile-menubar1 {
  padding: 10px;
  width: 12%;
  background-color: var(--secondary-color);
}
.profile-data-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}

.profile-header {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
}
.profile-btn {
  width: 250px;
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
  border: white 1px solid;
  border-radius: 10px;
  padding: 10px;
}
.profile-btn:hover,
.profile-btn:active {
  background-color: var(--secondary-color);
  color: black;
  border: black 1px solid;
}

@media (max-width: 1327px) {
  .profile-menubar1 {
    display: none;
  }
  .profile-page-container {
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 879px) {
  .profile-menubar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
