.forgot-password-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.forgot-password-content {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-password-content h1 {
  text-align: center;
}

.forgot-password-content label {
  display: block;
  margin-bottom: 15px;
}

.forgot-password-content form {
  display: flex;
  flex-direction: column;
}

.forgot-password-content input {
  padding: 8px;
  margin-bottom: 10px;
}

.forgot-password-content button {
  padding: 10px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgot-password-content button:hover {
  background-color: var(--secondary-color);
}

.reset-password-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reset-password-form h1 {
  text-align: center;
}

.reset-password-form form {
  display: flex;
  flex-direction: column;
}

.reset-password-form input {
  margin-bottom: 10px;
  padding: 8px;
}

.reset-password-form button {
  padding: 10px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-password-form button:hover {
  background-color: var(--secondary-color);
}

.error-message {
  color: red;
  text-align: center;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
