@import url("variables.css");
.booking-container{
  margin:150px;
}

.user-booking{
  margin: auto;
  padding: 50px;
  width: 600px;
  border: 2px solid silver;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: var(--main-box-shadow);
}
.guest-user-inputs input{
  margin-bottom: 20px;
}