@import url("variables.css");

/* Background */

.component-background {
    background-size: cover;
    height: 87vh;
}

.parking-bg {
    padding-top: 20vh;
    background-image: var(--main-linear-gradient),URL("../../../public/DatePicker/parking_bg.jpg");
}

.rental-bg {
    padding-top: 20vh ;
    background-image: var(--main-linear-gradient), URL("../../../public/DatePicker/rental_bg.webp");
}

.opened {
    margin-top: 10px;
}

/* Main-container */

.date-picker-main-container {
    display: flex;
    justify-content: center;
}

.date-picker-container {
    gap: 30px;
    display: flex;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.9);
    padding: 50px 75px;
    border-radius: 5px;
    box-shadow: var(--main-box-shadow);
}

/* Main button */

button {
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

/* Date Picker button */

.date-picker-button img {
    height: 15px;
    padding-right: 10px;
}

.date-picker-button {
    border: 1px solid grey; 
    background-color: white;
    padding: 5px 10px;
    min-width: 200px;
}

.date-picker-button:hover {
    background-color: rgb(230, 230, 230);
}

/* Search button */

.search-button {
    background-color: var(--main-color);
    border: 0;
    color: white;
    font-weight: bold;
    padding: 0px 20px;
    width: 125px;
}

.search-button:hover {
    background-color: #031533;
}

.search-button:active {
    background-color: var(--secondary-color);
}

/* Modal */

#calendar-dialog {
    border: 0;
    background-color: transparent;
    box-shadow: none;
    max-height: 350px;
    width: 400px;
}