@import url('variables.css');

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: white;
  position: sticky;
  top: 0;
  z-index: 4;
}
.logo-container {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.login-container {
  padding-right: 20px;
}
