/* Media queries for phone */

@media only screen and (max-width: 600px) {
  .home-page-list {
    max-width: 600px;
  }
}

/* Containers */

.home-page-container {
  display: flex;
  justify-content: center;
}

.home-page-list {
  margin: 20px;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1200px;
}

/* Text inside the container */

.home-page-list-link {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position: relative;
  z-index: 1;
  padding-left: 20px;
}

.home-page-list-link:link {
  text-decoration: none;
}

.home-page-list-link:visited {
  text-decoration: none;
}

.home-page-list-link:active {
  text-decoration: none;
}

/* Where the magic happens */

.home-page-list-elem {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
  filter: brightness(100%);
}

.home-page-list-elem::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  transform: scale(1);
  transition: transform 0.5s ease;
  z-index: -1;
}

.home-page-list-elem:hover::before {
  transform: scale(1.1);
  filter: brightness(75%);
}

.home-page-list-elem:active::before {
  filter: contrast(60%);
}

/* Background pictures */

.background-pic {
  background-size: cover;
}

.rental {
  background-image: URL('../../../home_page_nav_pictures/rentalpic.jpg');
}

.parking {
  background-image: URL('../../../home_page_nav_pictures/parkingpic.jpg');
}

.shuttle {
  background-image: URL('../../../public/home_page_nav_pictures/shuttlepic.jpg');
}
