@import url('variables.css');

.parking-zones-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.parking-text-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
}




