@import url('variables.css');

.parking-zones-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.map{
  max-height: 100vh;
  margin-top: 20px;
  margin-right: 20px;
  background-image: url("../../../public/parking_pictures/parkingBGGGG.jpg");
background-repeat: no-repeat;
  background-size: contain;
}
.map text{
  font-weight: bold;
}
.parking-text-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
}
/*zone "button" config */
.zone-btn{
  fill: var(--secondary-color);
  opacity: 0.8;
transition: 0.5s;
}

.noSpace:hover{
  fill:red
}
.freeSpace:hover{
  fill: greenyellow;
}

a text{
  cursor: pointer;
}