:root {
    --main-color: rgb(3, 30, 74);
    --secondary-color: #6b9ac7;
    --main-svg-filter: invert(100%);
    --main-box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px;
    --main-linear-gradient: linear-gradient(45deg, rgba(107, 154, 199, 0.3), rgba(0, 0, 0, 0.2))
  }