@import url("../variables.css");

.parking-zones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .parking-text-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
} */

.price-tag{
  font-size: 1.1em;
  font-weight: 600;
}