@import url("../variables.css");

.header-nav-elem {
  color: white;
  font-size: 2.2rem;
  padding: 20px 20px;
  transition: 0.1s ease-in-out;
  background-image: linear-gradient(var(--secondary-color), var(--secondary-color)),
    linear-gradient(transparent, transparent);
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.2s ease-out;
}

.header-nav-elem:link {
  text-decoration: none;
}

.header-nav-elem:active {
  text-decoration: none;
}

.header-nav-elem:visited {
  text-decoration: none;
}

.header-nav-elem:hover {
  background-size: 100% 2px, auto;
}
