@import url("../variables.css");

.filter-main-container {
  background-color: white;
  border: 1px solid silver;
  box-shadow: var(--main-box-shadow);
  border-radius: 5px;
  margin: 50px 0px;
  padding: 10px;
  width: 300px;
}

.filter-container {
  border-top: 1px solid silver;
  padding: 5px 5px 15px 5px;
}
.filter-main-container-title-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
  gap: 40px;
}

.filter-main-container-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter-main-container-title-clear-filter-button {
  border: 1px solid;
  background-color: transparent;
  font-size: smaller;
  color: var(--secondary-color);
  transition: 0.1s;
}

.filter-main-container-title-clear-filter-button:hover {
  background-color: #1f74ad;
  color: white;
}

.filter-main-container-title-clear-filter-button:active {
  filter: opacity(0.6);
}

.filter-items {
  display: flex;
  flex-direction: column;
}

.filter-item-label-text {
  display: flex;
  align-items: center;
}
.filter-item-label-text span {
  font-size: 1rem;
}

.filter-items label {
  display: flex;
  gap: 10px;
}

.filter-items input {
  height: 20px;
  width: 20px;
}
