@import url("../variables.css");

.mobile-filter-main-container {
  background-color: #1f74ad;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  min-width: 100px;
  border-radius: 5px;
  width: 78%;
}

.mobile-filter-main-container-title {
  display: flex;
  justify-content: stretch;
}

.mobile-filter-main-container-title button {
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.mobile-filter-main-container-title button:hover {
  color: rgb(235, 235, 235);
}

.mobile-filter-container {
  border-top: 1px solid white;
  padding: 5px 5px 15px 5px;
}

.mobile-filter-main-container-title-clear-filter-button {
  border: 1px solid;
  background-color: white;
  color: #1f74ad;
  margin: 10px 0px;
  width: 100%;
  padding: 5px;
}

.mobile-filter-main-container-title-clear-filter-button:hover {
  filter: brightness(90%);
}

.mobile-filter-main-container-title-clear-filter-button:active {
  filter: opacity(0.8);
}

.mobile-filter-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mobile-filter-item-label-text {
  display: flex;
  align-items: center;
}
.mobile-filter-item-label-text span {
  font-size: 1rem;
}

.mobile-filter-items label {
  display: flex;
  gap: 10px;
}

.mobile-filter-items input {
  height: 20px;
  width: 20px;
}

@media only screen and (max-width: 1270px) {
  .mobile-filter-main-container {
    width: 700px;
    padding: 10px 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .mobile-filter-main-container {
    width: 500px;
    padding: 10px 0px;
  }
}

@media only screen and (max-width: 600px) {
  .mobile-filter-main-container {
    width: 300px;
    padding: 10px 0px;
  }
}
