@import url('../variables.css');

/* Background */

.component-background {
  background-size: cover;
  height: 87vh;
  display: flex;
  justify-content: center;
}

.parking-bg {
  padding-top: 20vh;
  background-image: var(--main-linear-gradient), URL('/DatePicker/parking_bg.jpg');
}

.rental-bg {
  padding-top: 20vh;
  background-image: var(--main-linear-gradient), URL('/DatePicker/rental_bg.webp');
}

.opened {
  margin-top: 30px;
}

#opened {
  background-color: white;
  border: 1px solid silver;
}

/* Main-container */

.date-picker-main-container {
  display: flex;
  justify-content: center;
}

.date-picker-container {
  max-width: 800px;
  margin: 0 300px;
  gap: 30px;
  display: flex;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0.9);
  padding: 50px 75px;
  border-radius: 5px;
  box-shadow: var(--main-box-shadow);
  position: relative;
}

/* Main button */

button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

/* Date Picker button */

.date-picker-button img {
  height: 15px;
  padding-right: 10px;
}

.date-picker-button {
  border: 1px solid grey;
  background-color: white;
  padding: 5px 10px;
  min-width: 200px;
}
.date-picker-button p {
  margin: 0;
  font-size: 0.8rem;
}

.date-picker-button:hover {
  background-color: rgb(230, 230, 230);
}

/* Search button */

.search-button {
  background-color: var(--main-color);
  border: 0;
  color: white;
  font-weight: bold;
  padding: 0px 20px;
  width: 125px;
  min-height: 50px;
}

.search-button:hover {
  background-color: #031533;
}

.search-button:active {
  background-color: var(--secondary-color);
}

/* Modal */

#calendar-dialog {
  border: 0;
  background-color: transparent;
  box-shadow: none;
  max-height: 350px;
  width: 400px;
}

.date-picker-calendar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  max-width: 100vw;
  margin: 0px 10px;
  border: 1px solid silver;
  border-radius: 5px;
  background-color: white;
  box-shadow: var(--main-box-shadow);
  z-index: 1000;
}

.non-visible {
  display: none;
}

.visible {
  display: contents;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  z-index: 999;
}

.help {
  position: absolute;
  top: 0;
  right: 15px;
  border: 1px solid grey;
  background-color: rgb(240, 240, 240);
  border-radius: 50%;
  font-weight: bold;
  font-size: small;
  height: 14px;
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1500px) {
  .date-picker-container {
    margin: 0px 150px;
  }
}

@media only screen and (max-width: 1000px) {
  .date-picker-container {
    flex-direction: column;
    align-items: center;
    margin: 0px 100px;
  }
}

@media only screen and (max-width: 600px) {
  .date-picker-container {
    margin: 0;
  }

  .help {
    display: none;
  }
}
